<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Data Tables</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'dashboard/assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
</head>

<body>
    <!-- Your existing body content -->
    <!-- main wrapper -->
    <div class="dashboard-main-wrapper">
        <!-- navbar -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="{% url 'index' %}">Influzio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search.." id="searchInput" onkeyup="searchTable()">
                            </div>
                        </li>
                        <!-- Add other navbar items here -->
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end navbar -->
        <!-- left sidebar -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Welcome {{request.user.username}}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <!-- Retained 'User' section with 'Log Out' and 'Subscriptions' links -->
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-1" aria-controls="submenu-1">
                                    <i class="fa fa-fw fa-user-circle"></i>{{request.user.username}}
                                </a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                                        </li>
										<li class="nav-item">
                                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Subscriptions</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- end left sidebar -->
        <!-- wrapper -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header">Influencer Data</h5>
                            <div class="card-body p-0">

                                <!-- Filter Dropdowns -->
                                <label for="followerCountFilter">Filter by Follower Count:</label>
                                <select id="followerCountFilter" onchange="filterTable()">
                                    <option value="">All</option>
                                    <option value="100-500">100K to 500K</option>
                                    <option value="500+">500K and above</option>
                                </select>

                                <label for="countryFilter">Filter by Country:</label>
                                <select id="countryFilter" onchange="filterTable()">
                                    <option value="">All</option>
                                    <option value="US">US</option>
                                    <option value="GB">GB</option>
                                    <option value="SE">SE</option>
                                    <option value="DE">DE</option>
                                    <option value="IT">IT</option>
                                    <option value="FR">FR</option>
                                </select>
                                <div class="table-responsive">
                                    <table id="userTable" class="display">
                                        <thead>
                                            <tr>
                                                <th>User URL Pic</th>
                                                <th>User ID</th>
                                                <th>Follower Count</th>
                                                <th>Country</th>
                                                <th>Instagram</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Data will be dynamically populated here -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2018 Influzio. All rights reserved. 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer -->
        </div>
    </div>
	<script src="{% static 'dashboard/assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'dashboard/assets/vendor/multi-select/js/jquery.multi-select.js' %}"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        // Sample data
        var sampleData = [  {
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/523d91ecba592810ab741b215a7e6d08~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=pxEXgIcipvGP2hKMSQUW5wKnw0w%3D",
	userID: "chrisschimii",
	followerCount: "251600",
	country: "DE",
	instagramLink: "https://www.instagram.com/chrisschimi",
	emailLink: "chrisschimi@tysm-media.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/0013d100be78a6e6d469c7ad7e364bc4~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=Gc5aQoYlrXG65orvsyRSHExUjeM%3D",
	userID: "chrissipatakas",
	followerCount: "210100",
	country: "DE",
	instagramLink: "https://www.instagram.com/chrissipatakas",
	emailLink: "c.patakas@web.de"
},
{
	userPic: "",
	userID: "chrissroanoo",
	followerCount: "",
	country: "IT",
	instagramLink: "https://www.instagram.com/chrissroano",
	emailLink: "chriss.peveri@icloud.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/47d6f692bf0996d09d0a9bad7b8f1d42~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=KcaN%2BoGAf4Q%2BGKY2xmTZHA18Ja8%3D",
	userID: "christabelsmakeupbar",
	followerCount: "101600",
	country: "GB",
	instagramLink: "https://www.instagram.com/christabelsmakeupbar",
	emailLink: "bellakuimba@gmail.com"
},
{
	userPic: "https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7ec4810b576a8a7cd76a6c43a4efb1a6~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=RQw7LJ0hnjK1EZyrK2muTRIG8NA%3D",
	userID: "christennnnn__",
	followerCount: "227400",
	country: "US",
	instagramLink: "https://www.instagram.com/christennnnn5",
	emailLink: "christencollabs@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/f432ed17d7f75059a774f4fa3e31a4b7~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=XR6OoG4OZeMxAhcbmnIFedDGH1k%3D",
	userID: "christiaanstvzz",
	followerCount: "377400",
	country: "ES",
	instagramLink: "https://www.instagram.com/christianstvz",
	emailLink: "contrataciones@hellosaturday.club"
},
{
	userPic: "https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/4545e55ca9990cbd8507a21b638f7743.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=G4rx15S4%2FnxyoItCExnwj8ySHoc%3D",
	userID: "christian.suen",
	followerCount: "809600",
	country: "GB",
	instagramLink: "https://www.instagram.com/christian.suen",
	emailLink: "christiansuen@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/8cf872bb7eef14fe175622e60a1600a9~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=ssEijrLuUOsnLf6IdwhRKvQQeDc%3D",
	userID: "christianochola",
	followerCount: "1900000",
	country: "US",
	instagramLink: "https://www.instagram.com/christianochola",
	emailLink: "christian.ochola23@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/d96a8b284566e44f7e1276e5f77b1a7f~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=wlEEa5fmMtxZ3qiK7Ev63FKP0gs%3D",
	userID: "christianradame",
	followerCount: "294300",
	country: "US",
	instagramLink: "https://www.instagram.com/christianxadame",
	emailLink: "christianxadamee@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/4492981edda7782c094dd51f01dd7571~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=xnqXDXzt%2Fs39K1%2BbvdxlBVgWvzk%3D",
	userID: "christianrlocke",
	followerCount: "4900000",
	country: "US",
	instagramLink: "https://www.instagram.com/christianrlocke",
	emailLink: "eric@undercurrent.net"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/d6a86f9f2ccdc08065d19d8777bd523c~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=1bawTkK%2B2BxL9pxuUf94MZ8vZuQ%3D",
	userID: "christianvierling",
	followerCount: "1600000",
	country: "US",
	instagramLink: "https://www.instagram.com/christianvierling",
	emailLink: "alyssa@mgmt-entertainment.com"
},
{
	userPic: "https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/eced1f62da5030c8db39c835d2fc65d0.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=t93IOvcuEH7gow%2F5aq29Mxjzpic%3D",
	userID: "christiecharm",
	followerCount: "807800",
	country: "US",
	instagramLink: "https://www.instagram.com/christiecharm1",
	emailLink: "itschristie@mail.ru"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/5204fc54f4af80e686b043831ea638f4~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=qfaNBNWvIXZlJ1uQjvLPLr17YCQ%3D",
	userID: "christifritz",
	followerCount: "2100000",
	country: "US",
	instagramLink: "https://www.instagram.com/christi_fritz",
	emailLink: "christifritz@sweetyhigh.com"
}  , {
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/1e401874e94b99be669c737251e86446~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=vwS2TaRm9R80SEAXqMOgDU9u7D8%3D",
	userID: "____tila____",
	followerCount: "314800",
	country: "DE",
	instagramLink: "https://www.instagram.com/______tila______",
	emailLink: "nertilavaldezhenderson@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/c901bb544f25e502c0e937bd9ad469ca~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=bY0wdSCy8gkDq%2BwgfOfabhIseHo%3D",
	userID: "__bepo__",
	followerCount: "108100",
	country: "IT",
	instagramLink: "https://www.instagram.com/__bepo__",
	emailLink: "bepo@weareera.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/92ab92df2cf1256d7a7e8b14a7ed1ee5~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=%2BtdZ2O0TX1p7rv5Tt0Fp9s7jlBs%3D",
	userID: "__bexbeauty__",
	followerCount: "1600000",
	country: "GB",
	instagramLink: "https://www.instagram.com/__bexbeauty__",
	emailLink: "bexbeauty@outreachagency.co.uk"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/5acb87b4cf4a30bfd86c1956531f9175~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=aP17EdLaIIe4dqXss%2FA5lHSP3CY%3D",
	userID: "__curtdogg",
	followerCount: "663300",
	country: "US",
	instagramLink: "https://www.instagram.com/__curtdogg",
	emailLink: "curtdoggbradley@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/a077cef444bb5bbeb8dd7feec210b61a~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=xQBPfZR9zrQSNXtDDh4M8jJUjsk%3D",
	userID: "__dhemis",
	followerCount: "149500",
	country: "DE",
	instagramLink: "https://www.instagram.com/__dhemis",
	emailLink: "mu-be@gmx.net"
},
{
	userPic: "https://p77-sign-va-lite.tiktokcdn.com/tos-maliva-avt-0068/054b91c35dafaedb693c879abecb6315~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=uOR1RZu2aSdNZpDV9HOEWMuPsRU%3D",
	userID: "__itsfreya",
	followerCount: "134200",
	country: "GB",
	instagramLink: "https://www.instagram.com/_itsfreya",
	emailLink: "olivia@lesbiansupperclub.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/e5be75162884f11b1f0c0d15a29118db~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=BUNL3GqZj5lRsd6Wdy6bLsuBP6E%3D",
	userID: "__jadic",
	followerCount: "292800",
	country: "IT",
	instagramLink: "https://www.instagram.com/__jadic",
	emailLink: "jadicreal@hotmail.com"
},
{
	userPic: "https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/5ccdee6aef59f8d576a50026bdba7183~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=uCrHgXcrDK8vamu62KvxGyTUY60%3D",
	userID: "__jbarsty",
	followerCount: "247800",
	country: "US",
	instagramLink: "https://www.instagram.com/__jbarsty",
	emailLink: "lauren@jexyagency.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/9c86a450e0da8403a767e4e393220cd2~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=OUVOOHKqvo%2BAwI0dtW6UhOUk20c%3D",
	userID: "__morgannicole",
	followerCount: "133300",
	country: "US",
	instagramLink: "https://www.instagram.com/__morgannicole",
	emailLink: "themorgannicole@yahoo.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/6c79f5f3b145ce71b34113c75ed95423~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=lNuhEf3OnPK2Nq8CeDPkaCtnfzs%3D",
	userID: "__nellysliife",
	followerCount: "212300",
	country: "DE",
	instagramLink: "https://www.instagram.com/nellysliifestyle",
	emailLink: "nellysliife@gmail.com"
},
{
	userPic: "https://p19-pu-sign-useast8.tiktokcdn-us.com/tos-useast8-avt-0068-tx2/ce54bb616a02cae6a051f62fee069f4e~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=rU60qzgh8xECnI%2F7GHwX4n%2BrYbk%3D",
	userID: "__nicksanchez_",
	followerCount: "207000",
	country: "US",
	instagramLink: "https://www.instagram.com/nisholas.17",
	emailLink: "nicksanchez@meerproductions.co"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/052ffc0f594b889eb61e6654b0d97849~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=ns1H55XbIF8JTbVTXhxllMfSeHA%3D",
	userID: "__queen_tik_tok__",
	followerCount: "224300",
	country: "DE",
	instagramLink: "https://www.instagram.com/_koroleva_tik_toka_",
	emailLink: "deylkisoven@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/6e37755111b78621b11812c64c29e7f8~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=m%2BWqyR5rC%2FSjizpjwaMNgE0KgWE%3D",
	userID: "__ria9__",
	followerCount: "691700",
	country: "DE",
	instagramLink: "https://www.instagram.com/__ria9__",
	emailLink: "riakueppers@icloud.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/a134dc6005ccbec3f530cd38ae0f08c6~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=tTEYb6liGs%2BrYhgiwiJog%2B%2BGtG4%3D",
	userID: "__sari_15___",
	followerCount: "110700",
	country: "ES",
	instagramLink: "https://www.instagram.com/_sari_15",
	emailLink: "direccion@goagency.site"
},
{
	userPic: "https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/9fc9114f0e03328f820096312c831be1.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=8t5jQZ6N7Mb2fbEB3NVLYCOsvzI%3D",
	userID: "__simushd__",
	followerCount: "196200",
	country: "IT",
	instagramLink: "https://www.instagram.com/simone_petrachi01",
	emailLink: "simushd01@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/2a791f21d77002c879730ee1464eeaca~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=lxgRsSIIPOMf%2Fn9j4stxQvTSsHk%3D",
	userID: "__zaiinabb.muah",
	followerCount: "131900",
	country: "ES",
	instagramLink: "https://www.instagram.com/__zaiinabb.muah",
	emailLink: "zaiinabb.muah@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/b0285f1101b52c2d937f67dda25e6d30~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=gatd4j5%2BQ1SoiEROQaIVfO26p7Q%3D",
	userID: "_.best_trio_3._",
	followerCount: "104900",
	country: "IT",
	instagramLink: "https://www.instagram.com/_.best_3io._",
	emailLink: "best3iooeva@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/f466a51b1650effe8714e69ff0f5f96c~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=3krUv7hKO0wdbpXwDuqFQKLin7M%3D",
	userID: "_.isu.__",
	followerCount: "103800",
	country: "IT",
	instagramLink: "https://www.instagram.com/_.isu.__",
	emailLink: "isucalcio@dive.it"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7316493427477053446~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=DpvFydx%2BoahhnnoCvQckQHwTvY0%3D",
	userID: "_00h23m",
	followerCount: "1400000",
	country: "US",
	instagramLink: "https://www.instagram.com/_00h24m",
	emailLink: "fatimavshb@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/e8084eb320df0a37942d166f028e3723~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=cJzuWtBREp7%2Fs6Rsp6rqeFcbsaA%3D",
	userID: "_adam_lem",
	followerCount: "204400",
	country: "ES",
	instagramLink: "https://www.instagram.com/_adam_lem",
	emailLink: "lemsseyahadam@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/863f6f836e296ebcf4187be6d1a49501~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=Xipw%2BH6lGgJ4RJW9khEgOFrGEiU%3D",
	userID: "_akin10",
	followerCount: "305800",
	country: "DE",
	instagramLink: "https://www.instagram.com/_akin10",
	emailLink: "akintatli@gmx.de"
},
{
	userPic: "",
	userID: "_albeertsoler_",
	followerCount: "",
	country: "ES",
	instagramLink: "https://www.instagram.com/_albeertsoleer_",
	emailLink: "infoalbertsoler@gmail.com"
},
{
	userPic: "https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/b896c872e54381538907dc42a9d062bf~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=mnyQqcP9VgfIKptf6cONVWY9gi4%3D",
	userID: "_alexandra.louise_",
	followerCount: "2400000",
	country: "US",
	instagramLink: "https://www.instagram.com/_alexandra.louise_",
	emailLink: "business@alouiseofficial.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7314071510816129070~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=z2PN7bLM72yss7my74F0rKSiqi0%3D",
	userID: "_alyssa_lorraine_",
	followerCount: "161200",
	country: "US",
	instagramLink: "https://www.instagram.com/alyssalorraineartist",
	emailLink: "alyssa@collxab.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7310893838594211882~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=pxd7uYGrQDBsanG38wS%2FX5emuJw%3D",
	userID: "_amanduhh__",
	followerCount: "1300000",
	country: "US",
	instagramLink: "https://www.instagram.com/_amanduhh___",
	emailLink: "amanduhh4321@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/b1d9834ed4b61496be1eef2c7268f0a1~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=BK6%2FGYakoQNJfOLjObbR7MkjHvI%3D",
	userID: "_anastasiagracia_",
	followerCount: "129000",
	country: "US",
	instagramLink: "https://www.instagram.com/_anastasiagracia_",
	emailLink: "contact@anastasiagracia.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/327113f7b94289ba9a9d26f6573754be~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=O9bPy%2FlYRoLVIrqvHBNaYnAsHXI%3D",
	userID: "_angelica.formisano_",
	followerCount: "395000",
	country: "IT",
	instagramLink: "https://www.instagram.com/_angeformisano_",
	emailLink: "angeeformisano@gmail.com"
},
{
	userPic: "",
	userID: "_animitz",
	followerCount: "",
	country: "US",
	instagramLink: "https://www.instagram.com/_animitz",
	emailLink: "hello@frever.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/758240ca56a764d2d84954dcaa752b50~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=UOIsOS5VQ%2FUWswyb2lo%2FiPIgXQU%3D",
	userID: "_ap26",
	followerCount: "373400",
	country: "GB",
	instagramLink: "https://www.instagram.com/ap_26_",
	emailLink: "officialap2604@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/29c636d5ecbed6532dce92ee6ab9267f~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=exDLsaIIyY9uq2cDpe21%2FpGs3SA%3D",
	userID: "_araly",
	followerCount: "441600",
	country: "US",
	instagramLink: "https://www.instagram.com/araly___",
	emailLink: "araly.business@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/8822f2b9b3a9d31ab4569cae5a9ddf6b~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=BVBRtz7nTcoPhvtL%2Bt5N6TY1Xvo%3D",
	userID: "_austin_wallace_",
	followerCount: "1000000",
	country: "US",
	instagramLink: "https://www.instagram.com/_austin_wallace_",
	emailLink: "austin.wallace100@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/07351461a3365d583d5c877df66deb84~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=y6Fdw9C5wSGIXyC9CAhGyzlIFyk%3D",
	userID: "_aviwizwer",
	followerCount: "230400",
	country: "US",
	instagramLink: "https://www.instagram.com/_aviwizwer",
	emailLink: "avi.wizwer@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/31ca9107ead5a1faaabc0e20f5463ec9~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=k%2FgaUmIrD1jaBqSmLbt3WpaQFKI%3D",
	userID: "_baileeee_",
	followerCount: "820500",
	country: "US",
	instagramLink: "https://www.instagram.com/baileeehenderson",
	emailLink: "bailee@select.co"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/cdd76f26042a77c9233bd1cdadd1c9ab~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=4kcIB2YXi%2BtbJOqytgekrADme7k%3D",
	userID: "_beauty_and_crafts_",
	followerCount: "105500",
	country: "GB",
	instagramLink: "https://www.instagram.com/elllsss.20xx",
	emailLink: "collabs-elliecollabs@liveologyuk.com"
},
{
	userPic: "",
	userID: "_bellaava_",
	followerCount: "",
	country: "US",
	instagramLink: "https://www.instagram.com/bellaava00",
	emailLink: "createwithbellaava@gmail.com"
},
{
	userPic: "https://p19-pu-sign-useast8.tiktokcdn-us.com/tos-useast8-avt-0068-tx2/5f38e8cfb013e62facd556ae64a4625a~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=TC4MtKyiHWl8VabsRBk%2F992N2BI%3D",
	userID: "_bencer",
	followerCount: "1800000",
	country: "US",
	instagramLink: "https://www.instagram.com/spencerbramucci",
	emailLink: "spencerbramucci1@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/bf119af4b2d4e7c6c16ec61c560d7d5a~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=t3orDHFYLuTIENqAshrlUhtxpU0%3D",
	userID: "_bianka.neve",
	followerCount: "103000",
	country: "IT",
	instagramLink: "https://www.instagram.com/bianka.neve",
	emailLink: "biankaciku@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/4086c1ba6981ef13b62d9e9aff32cfb1~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=5xZEvUy18ocobDpbaoWA5ARX86I%3D",
	userID: "_bilson",
	followerCount: "410800",
	country: "US",
	instagramLink: "https://www.instagram.com/richy_bilson",
	emailLink: "bookbilson@gmail.com"
},
{
	userPic: "https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/5872177290ad7e859cc5c24bcb232adc~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=x7%2FMbzPmarflAhzAykB5sApvllw%3D",
	userID: "_brittanylima",
	followerCount: "221100",
	country: "US",
	instagramLink: "https://www.instagram.com/_brittanylima",
	emailLink: "brittanyjlima@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/1c2376c96d2ebd705088509abc7d2f76~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=iavzlNN6P8vSe%2BsCKJ6oAWOu9mM%3D",
	userID: "_brookesanchez",
	followerCount: "1300000",
	country: "US",
	instagramLink: "https://www.instagram.com/_brookesanchez",
	emailLink: "brookeysanchez@gmail.com"
},
{
	userPic: "https://p77-sign-va.tiktokcdn.com/tos-maliva-avt-0068/147d63c542eb8effed9fd3dd387f0893~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=CUyoJCjQzlFvMsOQeBxyUl5TK%2Fw%3D",
	userID: "_byandra_",
	followerCount: "171700",
	country: "ES",
	instagramLink: "https://www.instagram.com/_byandra_",
	emailLink: "andrarusciorean@yahoo.es"
},
{
	userPic: "https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/cafdc8fea9bc1c014423f00a927e68f0.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=T6bGibF2%2BSrzx8YIV4Ki%2FopzBVU%3D",
	userID: "_captain_without_ship_",
	followerCount: "103300",
	country: "US",
	instagramLink: "https://www.instagram.com/_captain_without_ship_",
	emailLink: "cap.edit@yandex.ru"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/4d0fd9617e6d0afdc8e1dc5419be5b64~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=CJy56VVEVemEc%2F%2FNi43MfPY1A8s%3D",
	userID: "_carlosjimeenez",
	followerCount: "1600000",
	country: "ES",
	instagramLink: "https://www.instagram.com/carlosjimeenez",
	emailLink: "carlosjimenez@nicknameagency.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/892d4e448e96716acfa7695236305857~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=KlJ4uOTe1d1hWemCzVahd5WqQqY%3D",
	userID: "_chiaroscuri",
	followerCount: "121500",
	country: "IT",
	instagramLink: "https://www.instagram.com/_chiaroscuri",
	emailLink: "infochiaroscuri@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/550e6aae2cc62e99a3674b04bec8d9f6~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=mXx9pZdcn2ejHq5BhAEeL7ssz5U%3D",
	userID: "_cjkilla_",
	followerCount: "4900000",
	country: "US",
	instagramLink: "https://www.instagram.com/_cjkilla_",
	emailLink: "cam@undercurrent.net"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/18be5cba1778b5d4f68d993791b0dc93~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=m6fLidK04UxSY8NrgneqYr5eHTs%3D",
	userID: "_claudiamarianii",
	followerCount: "467500",
	country: "IT",
	instagramLink: "https://www.instagram.com/_claudia_dm",
	emailLink: "claudiamariani@power-talentagency.it"
},
{
	userPic: "https://p77-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/83001b034026b0c4edcfa9a8240e393f.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=o82ATMM0Rqj8RxIShZ%2FD2lO%2BcxA%3D",
	userID: "_cookwithmi",
	followerCount: "176300",
	country: "GB",
	instagramLink: "https://www.instagram.com/_cookwithmi",
	emailLink: "meg@redfluence.co.uk"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/6c012ece1bfa12d2d69be1a0abf56232~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=bU0QzA2hUKSU%2F1%2BQz0xnULIcuOw%3D",
	userID: "_crazylocotilly",
	followerCount: "191100",
	country: "US",
	instagramLink: "https://www.instagram.com/crazylocotilly",
	emailLink: "crazylocotilly@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/411dcf3424d794f694cb7a38c848fcbb~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=nParHW0ONvZ68fjjnE3ZDVnc6vs%3D",
	userID: "_dance12neptune",
	followerCount: "1200000",
	country: "US",
	instagramLink: "https://www.instagram.com/dance12neptune",
	emailLink: "talent+neptune@a-listme.com"
},
{
	userPic: "https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/0a572d8ce2d6e594d0e0524bec723858.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=DZJcEGPcUOg58%2FLI5QVMtVs8zJQ%3D",
	userID: "_danielrhodess",
	followerCount: "1000000",
	country: "GB",
	instagramLink: "https://www.instagram.com/danielrhodess",
	emailLink: "lily.modlin@district.global"
},
{
	userPic: "https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/0c94887421988edf1d2453b03b3ce573~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=wxYUcpWb4cuDKxC0ztxQ7jwl2VE%3D",
	userID: "_deejayyyy",
	followerCount: "1700000",
	country: "US",
	instagramLink: "https://www.instagram.com/_deejayyyy",
	emailLink: "deejayyyybooking@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/e7de95d899e4acc08f31327298ba3ae2~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=80oICo3zExNareK8M9Gf7I6gQTM%3D",
	userID: "_diegoross",
	followerCount: "297600",
	country: "ES",
	instagramLink: "https://www.instagram.com/_diegoross",
	emailLink: "info@jenypoquetagent.com"
},
{
	userPic: "https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7310334711660806186~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=G4YxXp4dw8aGWLzp0Ox%2BAsZoBws%3D",
	userID: "_dmill_",
	followerCount: "139200",
	country: "US",
	instagramLink: "https://www.instagram.com/_dmill_",
	emailLink: "dmillsocials@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/d37e09fe0eae5036cf1db80b27a593d6~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=%2FcRc8M%2FHfFhNdjyFQ1ELvT2%2FdIw%3D",
	userID: "_douie",
	followerCount: "4200000",
	country: "US",
	instagramLink: "https://www.instagram.com/_douie",
	emailLink: "draecity11@lstagency.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/8ac92492010efe95f0e3bac3f61e6b73~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=91dg77noZbMQlqR9c6lmedXHtH4%3D",
	userID: "_ecsb_",
	followerCount: "531400",
	country: "DE",
	instagramLink: "https://www.instagram.com/spacexplorer2023",
	emailLink: "spacexplorer187@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/fe678e11df782ff62c1fa52aae72908b~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=nW6fjEqySVVgFCwsE6dufDQqTUo%3D",
	userID: "_elifoooo",
	followerCount: "835400",
	country: "DE",
	instagramLink: "https://www.instagram.com/_elifooooo",
	emailLink: "elif@lionflence.com"
},
{
	userPic: "https://p16-pu-sign-useast8.tiktokcdn-us.com/tos-useast8-avt-0068-tx2/fe92ffc4f2a45ef52495c7d367b61f9b~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=6MRozjZpW%2BnvrEw3XM1%2BMr1bGXU%3D",
	userID: "_emmjaay",
	followerCount: "203400",
	country: "US",
	instagramLink: "https://www.instagram.com/_emmjaay",
	emailLink: "contact@tablerock.com"
},
{
	userPic: "https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/745fa7533e2d966578caa54fabcdbceb~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=k13hGTmkPQnslt6LcmioChAxWd0%3D",
	userID: "_every1luvskash_",
	followerCount: "205300",
	country: "US",
	instagramLink: "https://www.instagram.com/akashicvibes",
	emailLink: "akashicgoddesstarot@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/55d0a54894b7776bdaef5e4865730d3f~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=lvzLMH5niH66p2ntTZ8Diz08sBQ%3D",
	userID: "_f0rrest",
	followerCount: "428400",
	country: "US",
	instagramLink: "https://www.instagram.com/f0rresr",
	emailLink: "forrestvlogs89@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/948333a9fc9c0fe7106fcd4cc90a2e0c~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=2XYU3GiLs0OFUFtGWOP9RXd91Ds%3D",
	userID: "_fullcrish7_",
	followerCount: "1100000",
	country: "DE",
	instagramLink: "https://www.instagram.com/_fullcrish7_",
	emailLink: "fullxcrish@web.de"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/c5ff3a051f9fa14eac47099b5fb1e9a5~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=%2F8SkYLgFE1k7ro8mlpX%2BOsCZd10%3D",
	userID: "_gabeybabey",
	followerCount: "785700",
	country: "US",
	instagramLink: "https://www.instagram.com/gabrielpatin",
	emailLink: "gabeybabey_@outlook.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/015bba9e8a0927763c2ac2f07db6ba17~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=BwmTjrfc%2FVWxdnWCUKSsmwYBg%2BE%3D",
	userID: "_gabriel_fdo_",
	followerCount: "122900",
	country: "IT",
	instagramLink: "https://www.instagram.com/_gabriel.fdo_",
	emailLink: "contact.gabrielfdo@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/9713456be34bd922f125c3688e9d147a~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=fizf%2FYi0JEdbvQ8CdV7ISQ66bQ0%3D",
	userID: "_gcro_",
	followerCount: "140300",
	country: "US",
	instagramLink: "https://www.instagram.com/_gcro_",
	emailLink: "gcroprofessional@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/11474e9a4cc0ef6cf89282789bb4bf02~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=3tv2Sln8BfYq3dynaD3WVerlUBI%3D",
	userID: "_giorgiacarocci_",
	followerCount: "224600",
	country: "IT",
	instagramLink: "https://www.instagram.com/_giorgiacarocci_",
	emailLink: "giorgiacarocci@thestudents.agency"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/0901b2a0d9e9f6f06629627031f1529e~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=r017eWEhKKKMt6gnmeiscty%2F2bA%3D",
	userID: "_giuliagiannonee",
	followerCount: "118000",
	country: "IT",
	instagramLink: "https://www.instagram.com/_giuliagiannonee",
	emailLink: "giulia.giannonecollab@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/b8332a98a6baaa3d71dfe6cc87f0c187~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=wwDt0Y%2FgEXMySDFBrdYKAOw79BA%3D",
	userID: "_gossipxogirl_",
	followerCount: "103700",
	country: "GB",
	instagramLink: "https://www.instagram.com/gossipxogirl__",
	emailLink: "gossipgirlofficialxo@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/121a373421285bd60fa0d80313557a00~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=6Pzij8RnzwLKZV2tb2SD7ybn6V0%3D",
	userID: "_haylieejordeen",
	followerCount: "334100",
	country: "GB",
	instagramLink: "https://www.instagram.com/haylieejordeen",
	emailLink: "haylieejordeen@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/55822103a88a5732534efa7cfd3aea7f~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=qBhmq4oJ0CKvZZtNSXrMy7ThMJM%3D",
	userID: "_holl.dav",
	followerCount: "182500",
	country: "GB",
	instagramLink: "https://www.instagram.com/_holister",
	emailLink: "kath@wearesn.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/d0af6ba95dbf12e71958d6cf5c0b26a3~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=EvhMB3RYuvy%2FI0LzHdtlVcmuiFo%3D",
	userID: "_hottymale",
	followerCount: "204500",
	country: "US",
	instagramLink: "https://www.instagram.com/hottymale_",
	emailLink: "collabwithty@gmail.com"
},
{
	userPic: "https://p19-pu-sign-useast8.tiktokcdn-us.com/tos-useast8-avt-0068-tx2/ab110bfdb86bc61633dc958926b83537~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=KlElqId%2FlWBddsUhwmHwGzXFabo%3D",
	userID: "_iamteddyyy",
	followerCount: "248100",
	country: "US",
	instagramLink: "https://www.instagram.com/teddygrillo269",
	emailLink: "grilloteddy30@gmail.com"
},
{
	userPic: "https://p19-pu-sign-useast8.tiktokcdn-us.com/tos-useast8-avt-0068-tx2/991535729411a79617c6cdbd88735616~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=0Ug6JL%2FWbtYdKoWUOJqftohPjCc%3D",
	userID: "_iliyana",
	followerCount: "3600000",
	country: "US",
	instagramLink: "https://www.instagram.com/iliyana_apostolova",
	emailLink: "tiffany@undercurrent.net"
},
{
	userPic: "https://p77-sign-va.tiktokcdn.com/tos-maliva-avt-0068/19bb0930ff5c371753c0afdc9f8b7656~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=kDB3ZD9Ley56coUxXNI%2BIjGUVsU%3D",
	userID: "_inmagic_",
	followerCount: "12700000",
	country: "ES",
	instagramLink: "https://www.instagram.com/_inmagic_",
	emailLink: "inmagic@tkers.es"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/musically-maliva-obj/01350badf5b8e84e7040afd9c37f4258~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=MoHzxrt2ZnkGd6vcqnkXe6yb8tY%3D",
	userID: "_irenehwang",
	followerCount: "237100",
	country: "US",
	instagramLink: "https://www.instagram.com/_irenehwang",
	emailLink: "ireneshwang20@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/937933c2af54b2357519da7c88d310a6~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=NOgNOZcrZspg84WeYSIy1mLPk%2Fc%3D",
	userID: "_itsjing",
	followerCount: "322500",
	country: "US",
	instagramLink: "https://www.instagram.com/_itsjingzzz",
	emailLink: "itsjing@whalartalent.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7310424468928036907~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=wa13NOb9p6oUBSBz0NS9hTGlor0%3D",
	userID: "_itsnate",
	followerCount: "6700000",
	country: "US",
	instagramLink: "https://www.instagram.com/nathan_fri",
	emailLink: "nathanfreihofer@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/8cb5239b5620ced5881fc1beaabb9f38~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=Uvkgfyr%2BzrKoTwSsYV2WArIRia4%3D",
	userID: "_itsreneyyy_",
	followerCount: "400600",
	country: "DE",
	instagramLink: "https://www.instagram.com/itsreneyyy",
	emailLink: "itsreneyyy.management@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/c2a919547f21f28bd26237cd4a64421d~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=q1cB8NTJM6sLpjbeMy8eiLmISKI%3D",
	userID: "_jadync",
	followerCount: "1400000",
	country: "US",
	instagramLink: "https://www.instagram.com/jadyncelino",
	emailLink: "crossnoellejadyn@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/85c50107e634e64ddfed5c0641df9c6d~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=6rzOtpfHDDmKe9OBZn8uuG4Y%2FGM%3D",
	userID: "_jamieann",
	followerCount: "293900",
	country: "DE",
	instagramLink: "https://www.instagram.com/jamie_anne_",
	emailLink: "jamie@beacreator.de"
},
{
	userPic: "",
	userID: "_jasminkylie",
	followerCount: "",
	country: "GB",
	instagramLink: "https://www.instagram.com/_jasminkyliee",
	emailLink: "jasminkylie@mail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/fc069750e4a1dabb5669854f555ff7c6~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=r%2FYXecBLsVvJbcHjFbv8CEVsJBg%3D",
	userID: "_jesiree",
	followerCount: "132600",
	country: "US",
	instagramLink: "https://www.instagram.com/jesiree",
	emailLink: "adam.hays@wilhelmina.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/8d3bba3627f445a2b13f2a2d37168f83~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=QIfdR832nhH09M%2BiHSJUfOTDAe0%3D",
	userID: "_jess.jackson",
	followerCount: "442000",
	country: "US",
	instagramLink: "https://www.instagram.com/_jess.jackson",
	emailLink: "twomomsoftriplets@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/c4fe529fd292cd3b04848b862ba31d79~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=avrETvR4aTmkZcSTXksT1tNo%2Bn0%3D",
	userID: "_joeboss",
	followerCount: "218000",
	country: "US",
	instagramLink: "https://www.instagram.com/_joeboss",
	emailLink: "bookingjoeboss@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/1f7a1cf0c4414de81c0302ca6ddfb4b3~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=2m0XoxNtly1CbUpP0l89SYPpunk%3D",
	userID: "_joecash",
	followerCount: "124200",
	country: "US",
	instagramLink: "https://www.instagram.com/_joecash",
	emailLink: "joecash@cashadream.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/8c693b0c7e371ec7875b43608ff1cfe4~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=i%2FsTcXdNTAQ7n2VjVOX51EBMM9A%3D",
	userID: "_jooseph",
	followerCount: "527800",
	country: "FR",
	instagramLink: "https://www.instagram.com/josephancayan",
	emailLink: "joseph@imhotepandco.com"
},
{
	userPic: "https://p77-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7317685186567602182~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=3KPEk%2BHypKxWemBhd6bkaLBmbsw%3D",
	userID: "_just_gabby_",
	followerCount: "149200",
	country: "GB",
	instagramLink: "https://www.instagram.com/_just_gabby_1",
	emailLink: "just03gabby@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/28fdd42357f83effbca395d3aaed4e73~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=P8Mg%2B7T%2Fx0JCV71IVPvRAvOxPk8%3D",
	userID: "_justemela_",
	followerCount: "130100",
	country: "US",
	instagramLink: "https://www.instagram.com/_justemela_",
	emailLink: "justemela@kensingtongrey.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/f863cf7d174642afcd20a3e5fb14ce06~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=NT6lHulYHeaeCm96kN06l7BCF1Y%3D",
	userID: "_katiepepper",
	followerCount: "126900",
	country: "GB",
	instagramLink: "https://www.instagram.com/_katiepepper",
	emailLink: "katie.emily.pepper@icloud.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/e43e50130a2ba75150037ad7a38f3fad~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=nQys6uXAoEGhg1tMC9wb%2BYnxGBE%3D",
	userID: "_kayjaye_",
	followerCount: "1500000",
	country: "US",
	instagramLink: "https://www.instagram.com/_kayjaye_",
	emailLink: "kraftykayjaye@gmail.com"
},  {
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/84d6f85246930a0a4866bff750f547e8~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=uzYd%2FYwCcOpwQTT5JnG62wqYCP0%3D",
	userID: "_poollo98_",
	followerCount: "297800",
	country: "ES",
	instagramLink: "https://www.instagram.com/poollo_98",
	emailLink: "businesspoollo98@gmail.com"
},
{
	userPic: "https://p77-sign-va-lite.tiktokcdn.com/tos-maliva-avt-0068/0e95781939399f25172362e1da85b398~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=iwueQwEtJqMM3bRGE9vLbAw7pMY%3D",
	userID: "_prinoora",
	followerCount: "133100",
	country: "GB",
	instagramLink: "https://www.instagram.com/prinoora",
	emailLink: "prinoora@hotmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/4f1be1daed8fd72740c65f9934a7fd2e~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=JBAlzlVIIifFSbGfvCuLNRUB8kg%3D",
	userID: "_samchi",
	followerCount: "141400",
	country: "DE",
	instagramLink: "https://www.instagram.com/samchi_x",
	emailLink: "management.samchi@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/ada01706608a2fb973aea1ea425f64ec~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=CSGb17fRbYKoQYg9%2Bt5roZ2bH10%3D",
	userID: "_samirabdul_",
	followerCount: "2100000",
	country: "FR",
	instagramLink: "https://www.instagram.com/_samirabdul_",
	emailLink: "samirjan.abdul@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/78d07f120a757a9069b897cc0ec45f1b~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=vPQDGPDtwWh2fI8MgyKg%2BgX01bw%3D",
	userID: "_sarahm__",
	followerCount: "547100",
	country: "FR",
	instagramLink: "https://www.instagram.com/_sarahbiii_",
	emailLink: "sarah@adcrew-paris.com"
},
{
	userPic: "https://p16-pu-sign-useast8.tiktokcdn-us.com/tos-useast8-avt-0068-tx2/02d63de71594bdd775f21b887077a4ec~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=tiSO8ZX27LE46CktcQ%2FGs16H5HE%3D",
	userID: "_simplyisabel",
	followerCount: "102500",
	country: "US",
	instagramLink: "https://www.instagram.com/_simplyisabel",
	emailLink: "ortizisabel031999@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/8b78f7f7cb8a760c8cdc9291306d9e8d~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=Dy6P2CDWozanuP1HQ4fQjbfMt%2FU%3D",
	userID: "_sofianiicole",
	followerCount: "1100000",
	country: "US",
	instagramLink: "https://www.instagram.com/_sofianiicole",
	emailLink: "sofianiicolee@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/6ffe80f8d57adf1369a7c0d495d66eaf~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=ZEENMSOeoiv18Lyntucz8XJMsxo%3D",
	userID: "_soul_asmr",
	followerCount: "1800000",
	country: "ES",
	instagramLink: "https://www.instagram.com/_soul_asmr",
	emailLink: "infosoulasmr@gmail.com"
}, {
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/6ffe80f8d57adf1369a7c0d495d66eaf~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=ZEENMSOeoiv18Lyntucz8XJMsxo%3D",
	userID: "_soul_asmr",
	followerCount: "1800000",
	country: "ES",
	instagramLink: "https://www.instagram.com/_soul_asmr",
	emailLink: "infosoulasmr@gmail.com"
},
{
	userPic: "https://p77-sign-va-lite.tiktokcdn.com/tos-maliva-avt-0068/7322176345390186502~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=owU6HCSDYj6Oao4fRH9SigzjODc%3D",
	userID: "_ssneak_",
	followerCount: "2200000",
	country: "FR",
	instagramLink: "https://www.instagram.com/_ssneak_",
	emailLink: "sneaktiktok@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/2a121fbd318c1545bbe1ef43b7466b5f~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=zJG55n0iC189SBoroe0LfrKr2QM%3D",
	userID: "_stephaniebenson",
	followerCount: "138300",
	country: "US",
	instagramLink: "https://www.instagram.com/_stephaniebenson",
	emailLink: "stephaniebensonbusiness@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/5a8186e9af815f312a6b5af364bade75~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=zLrUuwecXLlVIKdqMid2b47AfyY%3D",
	userID: "_theaccentguy",
	followerCount: "1700000",
	country: "GB",
	instagramLink: "https://www.instagram.com/_theaccentguy_",
	emailLink: "info@unitemgt.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/956cae5695e7eeefea7d00b0888bbec4~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=17xW8RlBKkgLy8ysACp7LVEEsi8%3D",
	userID: "_thehudsonfamily",
	followerCount: "2700000",
	country: "GB",
	instagramLink: "https://www.instagram.com/_thehudsonfamily",
	emailLink: "kellymartin93@hotmail.co.uk"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/62532a64336978d577c6a3aa967ec2d0~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=5F1fsyCbPjEdJluPA84Du%2Fb4Ctg%3D",
	userID: "_theonlyeddiebanny",
	followerCount: "134100",
	country: "IT",
	instagramLink: "https://www.instagram.com/eddie_banny_",
	emailLink: "edo.laddomada@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-giso/5ecac3432fed2ae22ddf8dba6655a3f7~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=bRx6m7kPshHzr1BCmbbF8rvaulg%3D",
	userID: "_thewellnessdiaries",
	followerCount: "103900",
	country: "GB",
	instagramLink: "https://www.instagram.com/megan_ronnie",
	emailLink: "kate@studiolightsocial.com"
},
{
	userPic: "",
	userID: "_torianne_",
	followerCount: "",
	country: "US",
	instagramLink: "https://www.instagram.com/torihollar",
	emailLink: "toriannehollar@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/d5cdd7d7c212ada713792d0d6cfb9d7a~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=GeW4zbuM4sLp7s4cC9kCdeZIqsg%3D",
	userID: "_toscanelucas",
	followerCount: "1000000",
	country: "FR",
	instagramLink: "https://www.instagram.com/thewaywewantt",
	emailLink: "toscaneandlucas@gmail.com"
},{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/6ffe80f8d57adf1369a7c0d495d66eaf~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=ZEENMSOeoiv18Lyntucz8XJMsxo%3D",
	userID: "_soul_asmr",
	followerCount: "1800000",
	country: "ES",
	instagramLink: "https://www.instagram.com/_soul_asmr",
	emailLink: "infosoulasmr@gmail.com"
},
{
	userPic: "https://p77-sign-va-lite.tiktokcdn.com/tos-maliva-avt-0068/7322176345390186502~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=owU6HCSDYj6Oao4fRH9SigzjODc%3D",
	userID: "_ssneak_",
	followerCount: "2200000",
	country: "FR",
	instagramLink: "https://www.instagram.com/_ssneak_",
	emailLink: "sneaktiktok@gmail.com"
},
{
	userPic: "https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/2a121fbd318c1545bbe1ef43b7466b5f~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=zJG55n0iC189SBoroe0LfrKr2QM%3D",
	userID: "_stephaniebenson",
	followerCount: "138300",
	country: "US",
	instagramLink: "https://www.instagram.com/_stephaniebenson",
	emailLink: "stephaniebensonbusiness@gmail.com"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/5a8186e9af815f312a6b5af364bade75~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=zLrUuwecXLlVIKdqMid2b47AfyY%3D",
	userID: "_theaccentguy",
	followerCount: "1700000",
	country: "GB",
	instagramLink: "https://www.instagram.com/_theaccentguy_",
	emailLink: "info@unitemgt.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/956cae5695e7eeefea7d00b0888bbec4~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=17xW8RlBKkgLy8ysACp7LVEEsi8%3D",
	userID: "_thehudsonfamily",
	followerCount: "2700000",
	country: "GB",
	instagramLink: "https://www.instagram.com/_thehudsonfamily",
	emailLink: "kellymartin93@hotmail.co.uk"
},
{
	userPic: "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/62532a64336978d577c6a3aa967ec2d0~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=5F1fsyCbPjEdJluPA84Du%2Fb4Ctg%3D",
	userID: "_theonlyeddiebanny",
	followerCount: "134100",
	country: "IT",
	instagramLink: "https://www.instagram.com/eddie_banny_",
	emailLink: "edo.laddomada@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/ed1645bce14e8292400a5951462c43f7~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=7aRNK1wkQABekObq503cB05TfVA%3D",
	userID: "engin_senli",
	followerCount: "276100",
	country: "DE",
	instagramLink: "https://www.instagram.com/engin_senli",
	emailLink: "mail@enginsenli.com"
},
{
	userPic: "https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/cd77a20521d9d1515a39db6bdede0224.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=dTsQFKv57Bn2eQ22Z5qfaV%2FiDuo%3D",
	userID: "englishwithcooke",
	followerCount: "271700",
	country: "GB",
	instagramLink: "https://www.instagram.com/englishwithcooke",
	emailLink: "englishwithcooke@gmail.com"
},
{
	userPic: "https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-euttp/49e2793d15addd5d720190327e6c8edd~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1705316400&x-signature=Z1o04MaPwAvqRe34tfg4XLGdEvo%3D",
	userID: "enmodefullchico",
	followerCount: "861800",
	country: "FR",
	instagramLink: "https://www.instagram.com/enmodeouhkty",
	emailLink: "enmodesanschico45@gmail.com"
},
  // The sample data you provided remains unchanged here
        ];

        // Function to populate the table with sample data
        function populateTable(data) {
            var table = $('#userTable').DataTable();
            table.clear().draw();

            for (var i = 0; i < data.length; i++) {
                table.row.add([
                    '<img src="' + data[i].userPic + '" alt="User Pic">',
                    data[i].userID,
                    data[i].followerCount,
                    data[i].country,
                    '<a href="' + data[i].instagramLink + '" target="_blank"><img src="instagram_icon.png" alt="Instagram"></a>',
                    '<a href="' + data[i].emailLink + '" target="_blank"><img src="email_icon.png" alt="Email"></a>'
                ]).draw(false);
            }
        }

        // DataTable initialization
        var table = $('#userTable').DataTable();

        // Initial population of the table with sample data
        populateTable(sampleData);

        // JavaScript functions for search and filter
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = $('#userTable').DataTable();
            table.search(filter).draw();
        }

        function filterTable() {
            var followerCountFilter = document.getElementById("followerCountFilter").value;
            var countryFilter = document.getElementById("countryFilter").value;

            var filteredData = sampleData.filter(function (item) {
                var showFollowerCount = followerCountFilter === "" || (followerCountFilter === "100-500" && item.followerCount >= 100000 && item.followerCount <= 500000) || (followerCountFilter === "500+" && item.followerCount > 500000);
                var showCountry = countryFilter === "" || item.country === countryFilter;

                return showFollowerCount && showCountry;
            });

            populateTable(filteredData);
        }
    </script>
</body>

</html>
